.container-fluid {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-wrap: nowrap;
  padding: 1em;
}

.filter-box-large {
  display: none;
  min-width: 150px;
}

.filter-box-small {
  cursor: pointer;
}

.grid-box {
  flex: 1;
}

.collection-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.collection-header h2 {
  flex: 1;
}

.collection-header .search-input {
  flex: 1;
  padding: 0.6em;
  border: 1px solid gray;
  background-color: black;
  color: gray;
  border-radius: 5px;
}

.collection-header .search-input:focus-visible {
  outline: none;
}

.collection-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
}

.collection-container h2 {
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.collection-container p {
  text-align: center;
  font-weight: 100;
  margin: 0;
}

.collection-img {
  overflow: hidden;
}

.collection-img img {
  height: 400px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.collection-img img:hover {
  transform: scale(1.05);
  transform-origin: center;
}

.filter-container div {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.filter-container div,
.filter-container input,
.filter-container label {
  cursor: pointer;
}

.filter-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* Media Query for larger screen */

@media (min-width: 900px) {
  .container-fluid {
    flex-direction: row;
  }

  .collection-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .collection-header .search-input {
    min-width: 300px;
    flex: none;
  }

  .filter-box-large {
    display: block;
  }

  .filter-box-small {
    display: none;
  }
}
